@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");

/* Tailwind v4 */
@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  font-family: "Nunito", sans-serif;
  background: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}
